[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-dotenv = "*"
pyyaml = "*"
uritemplate = "*"
django-filter = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
pylint = "*"
pylint-django = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.8"
